In [2]:
library(tidyverse)

In [134]:
createSample <- function() {
    data.frame(
        city = c("Tokyo", "Osaka", "Nagoya", "Fukuoka", "Nagasaki"),
        temp = c(28, 26, 21, 18, 21),
        weather = c("Fine", "Cloudy", "Cloudy", "Rain", "Fine"),
        other = c(1,2,4,3,2) )
}

In [101]:
df <- createSample()
df$temp <- df$temp %>%
    map_if(~ .x>27, ~ 27) %>%
    map_if(~ .x<20, ~20) %>% unlist()

df

  city    temp weather other
1 Tokyo   27   Fine    1
2 Osaka   26   Cloudy  2
3 Nagoya  21   Cloudy  4
4 Fukuoka 20   Rain    3

In [166]:
df <- createSample()
size <- 10
df2 <- data.frame(matrix(nrow = size, ncol = 0))

for(i in 1:length(df[[1]])) {
    row <- df[i, ]
    df2[as.character(row$city)] <- rnorm(size, row$temp, row$other)
}

df2

   Tokyo    Osaka    Nagoya   Fukuoka  Nagasaki
1  27.02056 23.55369 24.87976 18.91426 25.48404
2  29.52677 29.50776 26.86782 18.43987 20.94274
3  28.14315 25.19702 17.33723 17.97630 22.93258
4  28.37630 23.84622 12.40073 17.28539 20.72057
5  27.07139 24.05022 18.88641 15.51579 20.95798
6  27.37969 27.52414 20.26840 18.19778 19.18039
7  29.11207 26.91791 21.94734 19.17691 19.65443
8  26.81434 27.97376 13.69377 12.01106 21.99256
9  28.61012 28.58712 24.75146 16.74381 21.38682
10 28.96141 25.11215 18.40218 15.95518 23.01392

In [269]:
df <- createSample()
size <- 10

df2 <- df %>% select(temp, other) %>% apply(1, function(x){rnorm(size, x[1], x[2])}) %>% data.frame()
names(df2) <- df$city

cols <- length(df2)
df2

   Tokyo    Osaka    Nagoya   Fukuoka  Nagasaki
1  28.59649 25.74943 23.86687 17.05156 19.89037
2  28.37454 29.10107 24.13029 18.43085 20.97532
3  28.08962 29.41547 20.03316 11.62730 17.63327
4  28.09482 24.77781 19.04963 20.36646 21.54558
5  28.35150 24.68370 23.63310 19.12503 19.94358
6  27.40088 26.39612 25.13979 20.22671 22.90182
7  27.63442 25.17945 15.56189 18.19358 19.46696
8  26.54699 26.73758 21.41399 24.70251 20.59870
9  26.90215 25.38323 13.86729 18.23646 23.47562
10 27.39115 23.79388 15.43966 18.15783 15.52844

In [270]:
df2 <- df2 %>%
    mutate(top_r = apply(.[,1:cols] , 1, function(x) names(x)[which.max(x)]), top = apply(.[,1:cols] , 1, function(x) max(x))) %>%
    mutate(c = 1)
df2
mean(df2$top)
df2 %>% group_by(top_r) %>% summarize(count = sum(c))

   Tokyo    Osaka    Nagoya   Fukuoka  Nagasaki top_r top      c
1  28.59649 25.74943 23.86687 17.05156 19.89037 Tokyo 28.59649 1
2  28.37454 29.10107 24.13029 18.43085 20.97532 Osaka 29.10107 1
3  28.08962 29.41547 20.03316 11.62730 17.63327 Osaka 29.41547 1
4  28.09482 24.77781 19.04963 20.36646 21.54558 Tokyo 28.09482 1
5  28.35150 24.68370 23.63310 19.12503 19.94358 Tokyo 28.35150 1
6  27.40088 26.39612 25.13979 20.22671 22.90182 Tokyo 27.40088 1
7  27.63442 25.17945 15.56189 18.19358 19.46696 Tokyo 27.63442 1
8  26.54699 26.73758 21.41399 24.70251 20.59870 Osaka 26.73758 1
9  26.90215 25.38323 13.86729 18.23646 23.47562 Tokyo 26.90215 1
10 27.39115 23.79388 15.43966 18.15783 15.52844 Tokyo 27.39115 1

[1] 27.96255

  top_r count
1 Osaka 3
2 Tokyo 7